* {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

    /* font-weight is auto set to 700 just make it 500 when you need to */
}


h1 {
    font-size: 30px;
}



/* everything with white writing font colour */
footer h1,
footer h2,
#get-started h1 {
    color: white;
}







/* this will be for the side padding and heights of all of the parent containers */
#search-bar {
    margin: 0 200px;
    position: relative;
    top: 73.5px;
}

nav {
    padding-top: 35px;
    padding-left: 200px;
    padding-right: 200px;
}

header {
    padding-left: 200px;
    margin-bottom: 70px;

}


footer {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#advanced-statistics {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 170px;
    padding-bottom: 170px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

}

#left-nav h1 {
    align-self: center;
}

#left-nav a {
    align-self: center;
}

#login {
    align-self: center;
}

#left-nav a:hover,
#login:hover {
    color: black;
}

nav,
header {
    background-color: white;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);

}


#left-nav,
#right-nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.dropdown-container {
    position: relative;
    display: none;
}

#dropdownButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.hamburger-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 4px;

}


.dropdownMenu{
    display: none;
}








header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-header h1 {
    font-size: 60px;
    line-height: 65px;

}

#left-header h2 {
    line-height: 30px;
    margin-bottom: 50px;
    color: hsl(0, 0%, 75%);
    font-weight: 500;
}



/* this is for all the green boxes with white writing */
.green-box {
    color: white;
    background-color: hsl(180, 66%, 49%);
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

.green-box:hover {
    background-color: hsl(180, 67%, 74%);
}


#search-bar {
    background-image: url(./images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 45px 55px;
    background-size: 100%;
    display: flex;
    background-color: hsl(257, 27%, 26%);
    gap: 30px;
    border-radius: 15px;

}

#search-bar button {
    border-radius: 14px;
    transition: all .5s 0s cubic-bezier(0.3, 1, 0.6, 1);
    transition-property: transform;
}


#search-bar button:hover{
    transform: translateX(10px);
}

#search-bar input {
    flex: 1;
    border-radius: 15px;
    border: none;
    text-indent: 30px;
    position: relative;
    transition: all .4s 0s cubic-bezier(0.3, 1, 0.8, 1);
    transition-property: border-color;
}

.error-placeholder-text::placeholder {
    color: hsl(0, 74%, 71%) !important;
}

#error-message {
    position: absolute;
    bottom: 15px;
    color: hsl(0, 87%, 67%);
    font-style: italic;
    font-weight: 500;
    display: none;
}

#search-bar input:focus {
    border: 2px solid  hsl(180, 68%, 42%);
    outline: none;
   

}





#advanced-statistics {
    background-color: hsl(0, 0%, 90%);
    text-align: center;

}



#advanced-statistics h1 {
    margin-bottom: 30px;
}

#advanced-statistics h2 {
    line-height: 30px;
    margin-bottom: 50px;
    color: hsl(0, 5%, 70%);
    font-weight: 500;

}

#statistics-bottom {
    display: flex;
    /* justify-content: space-between; */
    /* leave this off  */
    position: relative;
}

.green-line {
    background-color: hsl(180, 66%, 49%);
    flex: 1;
    height: 15px;
    align-self: center;

}






.card {
    height: max-content;
    width: 450px;
    background-color: white;
    padding-left: 40px;
    padding-top: 100px;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: start;
    border-radius: 10px;
    position: relative;
}

.card img {
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 55px;
    position: absolute;
    top: -35px;
    max-width: 80px;
    max-height: 80px;
}

.card h1 {
    font-size: 25px;
}



.card1 {
    transform: translatey(0px);
}

.card2 {
    transform: translateY(40px);
}

.card3 {
    transform: translateY(80px);
}










#get-started {
    background-image: url(./images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    padding: 60px 0px;
    background-color: hsl(257, 27%, 26%);
}

#get-started h1 {
    margin-bottom: 50px;
    font-size: 40px
}


.footer {
    display: flex;

    justify-content: space-between;

    background-color: hsl(260, 8%, 14%);
}


footer a:hover {
    color: hsl(180, 66%, 49%);

}


.my-icons:hover .svg {
    /* change this if you ever find out how */
    filter: brightness(50%)
}

.footer h1,
.footer h2 {
    margin: 0;
}

footer h1 {
    flex-grow: .3;
}

.footer .icons {
    display: flex;
    align-items: flex-start;


}

.footer .icons a {
    margin-right: 5px;
    width: 24px;
}

.footer .icons a:not(:last-child) {
    margin-right: 10px;
}



.footer .link-list {
    margin-top: 5px;
}

div.icons {
    gap: 10px;
}

ul {
    line-height: 35px;
}

/* 
this is the part for the divs that will be created dynamically with javascript */


.past-searches {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: white;
    margin-bottom: 70px;
    border-radius: 10px;
    gap: 25px;


}


#full-URL {
    font-size: 18px;
    flex: 1;
    text-align: start;
    margin-bottom: 0px !important;
    font-weight: 500;
}

#short-URL {
    font-size: 18px;
    margin-bottom: 0px !important;
    color: hsl(180, 66%, 49%) !important;
}


#copy-button {
    border: none;
    color: white;
    background-color: hsl(180, 66%, 49%);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

#copy-button:hover {
    background-color: hsl(180, 67%, 74%);
}

@media screen and (min-width:1380px) and (max-width:1750px) {
    nav {
        padding-top: 35px;
        padding-left: 5.5%;
        padding-right: 5.5%;
    }
    
    header {
        padding-left:5.5%;
        margin-bottom: 70px;
    
    }
    
    
    footer {
        padding-left: 5.5%;
        padding-right: 5.5%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    #advanced-statistics {
        padding-left:5.5%;
        padding-right: 5.5%;
        padding-top: 170px;
        padding-bottom: 170px;
    }
    header img{
        overflow-x: hidden;
    }
}

@media screen and (min-width:1151px) and (max-width:1379px){
    nav {
        padding-top: 35px;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
    
    header {
        padding-left:1.5%;
        margin-bottom: 70px;
        overflow-x: hidden;
    
    }
    
  
    footer {
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    #advanced-statistics {
        padding-left:1.5%;
        padding-right: 1.5%;
        padding-top: 170px;
        padding-bottom: 170px;
    }
    header img{
        overflow-x: hidden;
        transform: translateX(100px);
    }

}
@media screen and (max-width:1150px) {

    /* this is for the all encompassing padding  */
    #advanced-statistics,
    #get-started,
    #left-header,
    nav {
        padding-right: 35px !important;
        padding-left: 35px !important;
    }

    #search-bar {
        margin-right: 35px !important;
        margin-left: 35px !important;
    }

    br {
        display: none;
    }

    footer {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;


    }

    .link-list {
        width: max-content;
        line-height: 40px;
    }

    footer div h2 {
        margin-bottom: 20px !important;
    }

    #get-started {
        background-image: url(./images/bg-boost-mobile.svg);
        padding-top: 100px;
        padding-bottom: 100px;

    }

    #get-started h1 {
        font-size: 25px;

    }

    #get-started a {
        padding-right: 45px;
        padding-left: 45px;
    }

    #advanced-statistics {
        padding: 0px;
        padding-top: 150px;
        padding-bottom: 90px;


    }

    #advanced-statistics-h1 {
        font-size: 28px;
    }
    #advanced-statistics-h2{
        color: hsl(0, 4%, 60%) !important;
        font-size: 17px;
    }

    #copy-button {
        width: 100%;
    }

    .past-searches {
        flex-direction: column;
        padding: 15px;
        margin-top: 0px;
        align-items: start;
        gap: 15px;
    }

    .past-searches h1 {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        width: 100%;
        border-bottom: 1px solid hsl(0, 0%, 75%);
        padding-bottom: 15px;
        width: calc(100% + 15px);
        padding-right: 15px;
    }

    #statistics-bottom {
        flex-direction: column;
        margin-top: 80px;

    }

    #statistics-bottom div {
        text-align: center;
        padding-left: 0px;

    }

    .green-line {
        flex: none;
        width: 10px !important;
        height: 80px;

    }

    .card {
        width: 100%;
        margin-bottom: 0px;
        padding-right: 25px;
        padding-left: 25px !important;
        padding-top: 80px;

    }
    .card h2{
       margin-bottom: 35px !important;
       font-size: 17px;
    }
    .card h1{
       margin-bottom: 20px !important;
    }

    .card3 {
        transform: none;

    }

    .card2 {
        transform: none;
    }

    .card img {
        left: 50%;
        transform: translateX(-50%);
    }


    #search-bar input,
    #search-bar button {
        border-radius: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #search-bar button{
        transition: none
    }
    #search-bar button:hover{
        transform: none;
    }

    #search-bar {
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: column;
        background-image: url(./images/bg-shorten-mobile.svg);
        padding: 25px;
        top: 92px;
        gap: 40px;

    }

    #error-message {
        font-size: 15px;
        bottom: 47%;
    }

    #search-bar input {
        text-indent: 20px;
    }

    header {
        flex-direction: column;
        padding-left: 0px;
        text-align: center;
        margin-bottom: 20px;
    }

    header a {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    #left-header h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    header img {
        margin-bottom: 60px;
    }

    header div {
        order: 2;
    }

    header img {
        order: 1;

    }

    #right-nav a {
        display: none;
    }

    #left-nav a {
        display: none;
    }

    .dropdown-container {
        display: inline-block;
    }

    .dropdownMenu {
        background-color: hsl(257, 27%, 26%);
        color: white;
        right: 300%;
        width: max-content;
        left: auto;
        width: 100%;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        
        
    }
    .dropdownMenu li{
        font-weight: 700;
       margin-bottom: 25px;
    }
    
    #resources-dropdown{
        border-bottom: 2px solid hsl(0, 0%, 75%);
        padding-bottom: 25px;
    }
    #signUp-dropdown{
        color: white;
        background-color: hsl(180, 66%, 49%);
        padding: 5px 5px !important;
        cursor: pointer;
        border: none;
        border-radius: 40px;
        margin-bottom: 35px !important;
       
    }
    #signUp-dropdown:hover{
        background-color: hsl(180, 67%, 74%);
    }
    #features-dropdown{
        margin-top: 25px;
    }

    nav {
        padding: 0px;
        margin-top: 35px;
    }
}